.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem; 
    padding: 1rem;
}

.card {
    background: #0093a6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    width: 15rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardContent {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.text {
    font-size: 1rem;
    color: #666;
}